/* Stylesheet by Shelley Witte, 2016 */

#title {
    font: bold 2.5em georgia
}

#map {
    height: 800px;
    width: 80%;
    display: inline-block;
    position: relative;

}

.sequence-control-container {
    position: absolute;
    bottom: 30px;
    width: 250px;
    height: 30px;
    line-height: 40px;
    text-align: center;
}

.legend-control-container, .sequence-control-container {
    padding: 8px;
    background-color: rgba(255,255,255,0.9);
    border: solid gray 1px;
    border-radius: 5px;

}
.legend-control-container {
    width: 240px;
    text-align: center;
}

#fiscalyear-legend {
    font: italic bold 1.5em georgia;
}

#mean-text, #max-text, #min-text {
    font: normal 1.1em arial;

}

/*#panel {
    width: 20%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 20px;
}*/

.range-slider {
    width: 150px;
}

#forward {
    float: right;
    padding: 2px;
}

#reverse {
    float: left;
    padding: 2px;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
    text-align: center;
    font: normal 1.2em arial;
}

.leaflet-popup {
    width: 200px;
}
